.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .SearchBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  